*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}


.wrap{
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
    width:98%;
    max-width: 1370px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;

}

.top-text{
    line-height: 1.9;
    text-align: center;
    padding: 50px;
}

img{
    object-fit:cover;
    width: 100%;
    padding: 30px 174px;
}


.pic{
    width:98%;
    max-width: 1370px;
    margin: 0 auto;
    background-color: white;
    

}

.pic-text{
    padding-bottom: 25px;
    text-align: center;
}


.texts{
    padding: 50px 0;
    width:45%;
    max-width: 1370px;
    margin: 0 auto;
   

}

h2{
    text-align: center;
    margin-bottom: 38px;
}

li{
    margin-bottom: 25px;
    line-height: 1.6;
}

h3{
    font-weight: lighter;
    font-size: 21px;
}

footer{
    padding: 20px 0;
    width:70%;
    max-width: 1370px;
    margin: 0 auto;
    text-align: center;
    
}



