
/* center all content*/
* {
   
    margin-left: auto;
    margin-right: auto ;
    text-align: center;
  
  }

/* all images */
.allImg {
    width: 250px;
    height: 180px;
    border-left: 8px solid powderblue;
    padding: 15px;
 
   }
   
body {
    background-image: url('images/backcover.jpg');
   }


/* navigation bar*/
.listLinks {
list-style-type: none;
text-align: center;
font-family: cursive;
padding: 40px;

}


.listLinks a:hover {
color:yellowgreen;
text-decoration: none;
}

.listLinks li {
display: inline;
padding: 10px;
}
/*links*/
a {
text-decoration: none;
color: white;


}
/*lists*/
li {

    list-style-type: square;
}

/* Animate background colours to change between different variants of colours*/
.anim {
width: 100px;
height: 100px;
background-color: greenyellow;
animation-name: example;
animation-duration: 4s;
}

@keyframes example {
from {background-color:gold}
to {background-color: indianred;}
}


/*form inputs*/
input{

    border: 5px solid grey;
    padding: 5px;

    display: block;
    width: 100%;

}



button {
    color: black;
    padding: 15px;
    background-color: yellowgreen;
}


table {

    border-bottom: 5px solid yellowgreen;

}

th{
    color: teal;

}


h2 {

    font-family: 'Calisto MT';
    color: teal;

}
h6 {
    font-family: corbel ;
    color: yellowgreen;
}

p {

    font-family: corbel;
    
}

section {

    padding-top: 40px;
}


footer{

color: white;
padding: 15px;

}

/*images filter*/
.grayscale {
      
    filter: grayscale(100%);
 }

/*inlarge images when hovered*/
 .enlarge-onhover {
    width: 55%;
    height: 55%;
}

.enlarge-onhover:hover {
    width: 60%;
    height: 60%;
}
 
